{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Twitter{% endblock %}

{% block page_content %}

{% if current_user.is_authenticated %}
{{wtf.quick_form(form)}}

{% endif %}

<ul class="tweets">
    
    {% for tweet in tweets %}
    

        <li class="tweet">
            
        <div class = "tweet-content">
            
            
            <div class="tweet-date">{{ moment(tweet.created_at, 'MMDDYYYY').fromNow() }}</div>
            <div class="tweet-author">
                <a href="{{ url_for('main.user', username=tweet.author.username) }}"> by {{ tweet.author.username }}</a>
                
            </div>
            <div class="tweet-body"> {{ tweet.text }}</div>
            <div class="tweet-comment"> <a href="{{ url_for('main.tweet', tweet_id=tweet.id) }}">Comment</a></div>
        
        </div>

        </li>

    
    {% endfor %}

</ul>


<p> the local date and time is {{ moment(current_time).format('LLL')  }}</p>
{% endblock %}