{% extends "base.html" %}
{% block title %}Twitter - {{ user.username }}
{% endblock %}

{% block page_content %}
{% if user == current_user %}   
    <a class="btn btn-default" href="{{ url_for('main.edit_profile') }}">    Edit Profile</a>
{% endif %}

<div class="page-header">
    <h1>{{ user.username }}</h1>
    Tweets: <span class="badge">{{ user.tweets.count() }}</span>
    Followers: <span class="badge">{{ user.followers.count() }}</span>
    Following: <span class="badge">{{ user.following.count() }}</span>
    {% if current_user.is_authenticated and user != current_user%}
    {% if not current_user.is_following(user)%}
    <a href="{{ url_for('main.follow', username=user.username) }}"class="btn btn-primary">Follow</a>    
    {% else %}
    <a href="{{ url_for('main.follow', username=user.username) }}">Unfollow</a>    
    {% endif %}
    {% endif %}
</div>

<div class="">
    <h1>Tweets</h1>
    {% for user_tweet in user_tweets %}
    
   
    {{user_tweet.created_at}}
    {{user_tweet.text}}
    
   
    {% endfor %}
</div>
<div class="">
    <h1>Scheduled Tweets</h1>
    {% for scheduled_tweet in scheduled_tweets %}
    
   
    {{scheduled_tweet.scheduled.first().scheduled_time}}
    {{scheduled_tweet.text}}
    
   
    {% endfor %}
</div>
{% endblock %}